/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
//   $color-pack: false
  $window-transition: .8s cubic-bezier(1, .8, .45, 1),
);

// Hide scrollbar
html {
  // Firefox
  scrollbar-width: none;
  // IE 10
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

html::-webkit-scrollbar {
  // Chrome, Safari, Edge
  display: none;
}