/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
  // $color-pack: false
  $body-font-family: 'Mooli'
);

// Hide scrollbar
html {
  // Firefox
  scrollbar-width: none;
  // IE 10
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

html::-webkit-scrollbar {
  // Chrome, Safari, Edge
  display: none;
}
